# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
media/
staticfiles/
.env
.env.*

# Virtualenv
venv/
env/
ENV/

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Test/coverage
htmlcov/
.coverage
.tox/
.nox/

# Node (caso use npm/yarn para assets)
node_modules/

# Backup files
*~
*.bak

# Gunicorn
*.pid

# Docker
*.pid
*.seed

# Misc
*.swp
*.swo
